<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Highcharts Example</title>

    <%=javascript_include_tag "highCharts/jquery.min"%>
    <style type="text/css">
        ${demo.css}
    </style>
    <script type="text/javascript">
        var males  = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];
        var females  = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];

        $(function () {

            <%(@stats || {}).each do |gender, group|
              if gender == 'Male'
              (group || []).each do |age_group, count|
                #raise age_group.inspect
                if age_group == '0-4' %>
            males[0] = <%= (count)*-1%>;
            <%elsif age_group == '5-9'%>
            males[1] = <%=(count)*-1%>;
            <%elsif age_group == '10-14'%>
            males[2] = <%=(count)*-1%>;
            <%elsif age_group == '15-19'%>
            males[3] = <%=(count)*-1%>;
            <%elsif age_group == '20-24'%>
            males[4] = <%=(count)*-1%>;
            <%elsif age_group == '25-29'%>
            males[5] = <%=(count)*-1%>;
            <%elsif age_group == '30-34'%>
            males[6] = <%=(count)*-1%>;
            <%elsif age_group == '35-39'%>
            males[7] = <%=(count)*-1%>;
            <%elsif age_group == '40-44'%>
            males[8] = <%=(count)*-1%>;
            <%elsif age_group == '45-49'%>
            males[9] = <%=(count)*-1%>;
            <%elsif age_group == '50-54'%>
            males[10] = <%=(count)*-1%>;
            <%elsif age_group == '55-59'%>
            males[11] = <%=(count)*-1%>;
            <%elsif age_group == '60-64'%>
            males[12] = <%=(count)*-1%>;
            <%elsif age_group == '65-69'%>
            males[13] = <%=(count)*-1%>;
            <%elsif age_group == '70-74'%>
            males[14] = <%=(count)*-1%>;
            <%elsif age_group == '75-79'%>
            males[15] = <%=(count)*-1%>;
            <%elsif age_group == '80-84'%>
            males[16] = <%=(count)*-1%>;
            <%elsif age_group == '85 + '%>
            males[17] = <%=(count)*-1%>;
            <%end
            end
          else
          (group || []).each do |age_group, count|
            #raise age_group.inspect
            if age_group == '0-4' %>
            females[0] = <%= (count)%>;
            <%elsif age_group == '5-9'%>
            females[1] = <%=(count)%>;
            <%elsif age_group == '10-14'%>
            females[2] = <%=(count)%>;
            <%elsif age_group == '15-19'%>
            females[3] = <%=(count)%>;
            <%elsif age_group == '20-24'%>
            females[4] = <%=(count)%>;
            <%elsif age_group == '25-29'%>
            females[5] = <%=(count)%>;
            <%elsif age_group == '30-34'%>
            females[6] = <%=(count)%>;
            <%elsif age_group == '35-39'%>
            females[7] = <%=(count)%>;
            <%elsif age_group == '40-44'%>
            females[8] = <%=(count)%>;
            <%elsif age_group == '45-49'%>
            females[9] = <%=(count)%>;
            <%elsif age_group == '50-54'%>
            females[10] = <%=(count)%>;
            <%elsif age_group == '55-59'%>
            females[11] = <%=(count)%>;
            <%elsif age_group == '60-64'%>
            females[12] = <%=(count)%>;
            <%elsif age_group == '65-69'%>
            females[13] = <%=(count)%>;
            <%elsif age_group == '70-74'%>
            females[14] = <%=(count)%>;
            <%elsif age_group == '75-79'%>
            females[15] = <%=(count)%>;
            <%elsif age_group == '80-84'%>
            females[16] = <%=(count)%>;
            <%elsif age_group == '85 + '%>
            females[17] = <%=(count)%>;
            <%end
            end
          end
        %>

            <%end%>

            var categories = ['0-4', '5-9', '10-14', '15-19',
                '20-24', '25-29', '30-34', '35-39', '40-44',
                '45-49', '50-54', '55-59', '60-64', '65-69',
                '70-74', '75-79', '80-84', '85 + '];

            $(document).ready(function () {
                $('#left-container').highcharts({
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: [{
                        categories: categories,
                        reversed: false,
                        labels: {
                            step: 1
                        }
                    }, { // mirror axis on right side
                        opposite: true,
                        reversed: false,
                        categories: categories,
                        linkedTo: 0,
                        labels: {
                            step: 1
                        }
                    }],
                    yAxis: {
                        title: {
                            text: null
                        },
                        labels: {
                            format: '{value:,.0f}'
                        }
                        //min: 0 // this sets minimum values of y to 0
                    },
                    credits: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false,
                    },
                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },

                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + ', age ' + this.point.category + '</b><br/>' +
                                    'Population: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
                        }
                    },

                    series: [{
                        name: 'Amuna',
                        data: males
                    }, {
                        name: 'Akazi',
                        data: females
                    }]
                });
            });

        });

        $(function () {

            <%(@stats || {}).each do |gender, group|
              if gender == 'Male'
              (group || []).each do |age_group, count|
                #raise age_group.inspect
                if age_group == '0-4' %>
            males[0] = <%= (count)*-1%>;
            <%elsif age_group == '5-9'%>
            males[1] = <%=(count)*-1%>;
            <%elsif age_group == '10-14'%>
            males[2] = <%=(count)*-1%>;
            <%elsif age_group == '15-19'%>
            males[3] = <%=(count)*-1%>;
            <%elsif age_group == '20-24'%>
            males[4] = <%=(count)*-1%>;
            <%elsif age_group == '25-29'%>
            males[5] = <%=(count)*-1%>;
            <%elsif age_group == '30-34'%>
            males[6] = <%=(count)*-1%>;
            <%elsif age_group == '35-39'%>
            males[7] = <%=(count)*-1%>;
            <%elsif age_group == '40-44'%>
            males[8] = <%=(count)*-1%>;
            <%elsif age_group == '45-49'%>
            males[9] = <%=(count)*-1%>;
            <%elsif age_group == '50-54'%>
            males[10] = <%=(count)*-1%>;
            <%elsif age_group == '55-59'%>
            males[11] = <%=(count)*-1%>;
            <%elsif age_group == '60-64'%>
            males[12] = <%=(count)*-1%>;
            <%elsif age_group == '65-69'%>
            males[13] = <%=(count)*-1%>;
            <%elsif age_group == '70-74'%>
            males[14] = <%=(count)*-1%>;
            <%elsif age_group == '75-79'%>
            males[15] = <%=(count)*-1%>;
            <%elsif age_group == '80-84'%>
            males[16] = <%=(count)*-1%>;
            <%elsif age_group == '85 + '%>
            males[17] = <%=(count)*-1%>;
            <%end
            end
          else
          (group || []).each do |age_group, count|
            #raise age_group.inspect
            if age_group == '0-4' %>
            females[0] = <%= (count)%>;
            <%elsif age_group == '5-9'%>
            females[1] = <%=(count)%>;
            <%elsif age_group == '10-14'%>
            females[2] = <%=(count)%>;
            <%elsif age_group == '15-19'%>
            females[3] = <%=(count)%>;
            <%elsif age_group == '20-24'%>
            females[4] = <%=(count)%>;
            <%elsif age_group == '25-29'%>
            females[5] = <%=(count)%>;
            <%elsif age_group == '30-34'%>
            females[6] = <%=(count)%>;
            <%elsif age_group == '35-39'%>
            females[7] = <%=(count)%>;
            <%elsif age_group == '40-44'%>
            females[8] = <%=(count)%>;
            <%elsif age_group == '45-49'%>
            females[9] = <%=(count)%>;
            <%elsif age_group == '50-54'%>
            females[10] = <%=(count)%>;
            <%elsif age_group == '55-59'%>
            females[11] = <%=(count)%>;
            <%elsif age_group == '60-64'%>
            females[12] = <%=(count)%>;
            <%elsif age_group == '65-69'%>
            females[13] = <%=(count)%>;
            <%elsif age_group == '70-74'%>
            females[14] = <%=(count)%>;
            <%elsif age_group == '75-79'%>
            females[15] = <%=(count)%>;
            <%elsif age_group == '80-84'%>
            females[16] = <%=(count)%>;
            <%elsif age_group == '85 + '%>
            females[17] = <%=(count)%>;
            <%end
            end
          end
        %>

            <%end%>

            var categories = ['0-4', '5-9', '10-14', '15-19',
                '20-24', '25-29', '30-34', '35-39', '40-44',
                '45-49', '50-54', '55-59', '60-64', '65-69',
                '70-74', '75-79', '80-84', '85 + '];

            $(document).ready(function () {
                $('#right-container').highcharts({
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: ''
                    },
                    subtitle: {
                        text: ''
                    },
                    xAxis: [{
                        categories: categories,
                        reversed: false,
                        labels: {
                            step: 1
                        }
                    }, { // mirror axis on right side
                        opposite: true,
                        reversed: false,
                        categories: categories,
                        linkedTo: 0,
                        labels: {
                            step: 1
                        }
                    }],
                    yAxis: {
                        title: {
                            text: null
                        },
                        labels: {
                            format: '{value:,.0f}'
                        }
                        //min: 0 // this sets minimum values of y to 0
                    },
                    credits: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false,
                    },
                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },

                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + ', age ' + this.point.category + '</b><br/>' +
                                    'Population: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
                        }
                    },

                    series: [{
                        name: 'Amuna',
                        data: males
                    }, {
                        name: 'Akazi',
                        data: females
                    }]
                });
            });

        });
    </script>
</head>
<body>

<%=javascript_include_tag "highCharts/highcharts"%>
<%=javascript_include_tag "highCharts/exporting"%>

<div style="width: 100%; height: 70%;margin: 0 auto">
    <div id="left-container" style="height: 90%; width: 50%; float: left;"></div>
    <div id="right-container" style="height: 90%; width: 50%; float: right;"></div>
</div>

</body>
</html>
