<style>

    body {
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */
    }

    img {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        pointer-events: none;
    }

    .main-page-container  {
        display: table;
        width: 100%;
        padding: 0px 1px 0px 1px;
    }

    .main-page-container-rows  {
        display: table-row;
    }

    .cells {
        display: table-cell;
    }


    /* ...................................... */
    .divbtn {
        height: 265px;
        display: table;
        margin-top: 10px;
        cursor:pointer;
    }

    .icons {
        width: 160px;
        height: 160px;
        margin-top: 10%;
        text-align: middle;
    }

    .divbtn p {
        font-weight: bold;
    }

    .btncells {
        width: 25%;
        text-align: center;
    }

    .small-icons {
        width: 100px;
        height: 100px;
    }

    .header .cells {
        vertical-align: middle;
        padding-right: 5px;
    }

    #scan {
        background-color: lightgrey;
        border-style: solid;
        border-width: 1px;
        font-size: 80px;
        margin-bottom: 6px;
        width: 44%;
    }

    .header .icons {
        width: 100px;
        height: 100px;
    }

    /* ...................................... */

    .people {
        padding-top: 10px;
    }

    .people th {
        border-style: solid;
        border-width: 1px;
        text-align: left;
    }

    .people td {
        border-style: solid;
        border-width: 1px;
        text-align: left;
    }


    .table-container {
        height: 82%;
        overflow: auto;
    }

    /* datatable ....................... */
    #results_info,  #results_filter {
        display: none;
    }

    tfoot tr {
        background-color: lightgrey;
    }

    /* datatable ....................... */
</style>

<%= render :partial => 'header' %>

<%=javascript_include_tag "DataTables/jquery" %>
<%=javascript_include_tag "DataTables/prototype" %>
<script>jQuery.noConflict();</script>
<%=javascript_include_tag "DataTables/jquery.dataTables.min" %>

<%= stylesheet_link_tag "DataTables/demo_table_jui" %>
<%= stylesheet_link_tag "DataTables/jquery.dataTables" %>

<div class="table-container">

    <table class="people" style="width:99%;" id="results">
        <thead>
        <tr>
            <th>Nambala</th>
            <th>Dzina Loyamba</th>
            <th>Dzina La Bambo</th>
            <th>Mkazi/Mwamuna</th>
            <th>Tsiku Lobadwa</th>
            <% if params['outcome'].nil? %>
                <th>Boma Lakwawo</th>
            <% else %>
                <th>Tsiku Lomwalira</th>
            <% end %>
            <th>TA Wakwawo</th>
            <th>Mudzi Wakwawo</th>
        </tr>
        </thead>
        <tbody>
        <%total_people = 0
          (@people || []).each_with_index do |person, i|%>
            <tr>
                <td><%=person['person'] rescue 'Not assigned'%></td>
                <td><%=person['person_record']['names']['given_name']%></td>
                <td><%=person['person_record']['names']['family_name']%></td>
                <td><%=person['person_record']['gender']%></td>
                <td><%=(person['person_record']['birthdate'].to_date.strftime('%d/%b/%Y') rescue 'N/A')%></td>
                <% if person['outcome_date'].nil? %>
                    <td>
                        <%=person['person_record']['addresses']['home_district']%>
                    </td>
                <% else %>
                    <td>
                        <%= person['outcome_date'].to_date.strftime('%d/%b/%Y') %>
                    </td>
                <% end %>
                <td><%=person['person_record']['addresses']['home_ta']%></td>
                <td><%=person['person_record']['addresses']['home_village']%></td>
            </tr>
        <%total_people = i
          end
          if @people.length > 0%>
            <tfoot>
            <tr>
                <td style="border-right:0px;">Anthu Onse</td>
                <td style="border-width:1px 0px 1px 0px;"></td>
                <td style="border-width:1px 0px 1px 0px;"></td>
                <td style="border-width:1px 0px 1px 0px;"></td>
                <td style="border-width:1px 0px 1px 0px;"></td>
                <td style="border-left:0px; border-right:0px;"></td>
                <td style="border-width:1px 1px 1px 0px;"></td>
                <td style="border-width:1px 1px 1px 1px;"><%=(total_people+1)%></td>
            </tr>
            </tfoot>
        <%end%>
        </tbody>
        </table>

</div>

<%= render :partial => 'footer' %>

<script>
    dataT();

    function dataT(){
        table = jQuery('#results').dataTable();
        setF();
    }

    function setF() {
        try {
            sel = document.getElementsByName('results_length')[0];
            sel.innerHTML = "<option value='<%=total_people%>'><%=total_people%></option>";
            document.getElementById('results_length').style.display = "none";
            document.getElementById('results').style.display = "width:99%;height: 82%;";
        }catch(e) {};
    }

</script>