<style>

body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.main-page-container  {
  display: table;
  width: 100%;
  padding: 0px 1px 0px 1px;
}

.main-page-container-rows  {
  display: table-row;
}

.cells {
  display: table-cell;
}


/* ...................................... */
.divbtn {
  height: 265px;
  display: table;
  margin-top: 10px;
  cursor:pointer;
}

.icons {
  width: 160px;
  height: 160px;
  margin-top: 10%;
  text-align: middle;
}

.divbtn p {
  font-weight: bold;
}

.btncells {
  width: 25%;
  text-align: center;
}

.small-icons {
  width: 100px;
  height: 100px;
}

.header .cells {
  vertical-align: middle; 
  padding-right: 5px;
}

#scan {
  background-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  font-size: 80px;
  margin-bottom: 6px;
  width: 44%;
}

.header .icons {
  width: 100px;
  height: 100px;
}

/* ...................................... */

.people {
  padding-top: 10px;
}

.people th {
  border-style: solid;
  border-width: 1px;
  text-align: left;
}

.people td {
  border-style: solid;
  border-width: 1px;
  text-align: left;
}


.table-container {
  height: 80%;
  overflow: auto;
}

/* datatable ....................... */
#results_info,  #results_filter {
  display: none;
}


/* datatable ....................... */
</style>

<%= render :partial => 'user/header' %>

<%=javascript_include_tag "DataTables/jquery" %>                          
<%=javascript_include_tag "DataTables/prototype" %>                          
<script>jQuery.noConflict();</script>
<%=javascript_include_tag "DataTables/jquery.dataTables.min" %>

<%= stylesheet_link_tag "DataTables/demo_table_jui" %>                                     
<%= stylesheet_link_tag "DataTables/jquery.dataTables" %>                                     


<div class="table-container">

<br />
<br />

<div class="table-container">

<table class="people" style="width:99%;" id="results">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>Home district</th>
      <th>Home TA</th>
      <th>Home Village</th>
    </tr>
  </thead>
  <tbody>
  <%total_people = 0
  (@people || []).each_with_index do |person, i|%>
  <tr>
    <td><%=person['_id'] rescue 'Not assigned'%></td>
    <td><%=person['names']['given_name']%></td>
    <td><%=person['names']['family_name']%></td>
    <td><%=person['gender']%></td>
    <td><%=person['birthdate']%></td>
    <td><%=person['addresses']['home_district']%></td>
    <td><%=person['addresses']['home_ta']%></td>
    <td><%=person['addresses']['home_village']%></td>
  </tr>
  <%total_people = i
  end
  if @people.length > 0%>
  <tfoot>
    <tr>
      <td style="border-right:0px;">Total people</td>
      <td style="border-width:1px 0px 1px 0px;"></td>
      <td style="border-width:1px 0px 1px 0px;"></td>
      <td style="border-width:1px 0px 1px 0px;"></td>
      <td style="border-width:1px 0px 1px 0px;"></td>
      <td style="border-left:0px; border-right:0px;"></td>
      <td style="border-width:1px 1px 1px 0px;"></td>
      <td style="border-width:1px 1px 1px 1px;"><%=(total_people+1)%></td>
    </tr>
   </tfoot>
   <%end%>
  </tbody>
</table>

</div>

<%= render :partial => 'footer' %>

<script>                                                                        
  dataT();                   
  
  function dataT(){          
    table = jQuery('#results').dataTable();                                                  
    setF();
  }

  function setF() {
    try {
      sel = document.getElementsByName('results_length')[0];
      sel.innerHTML = "<option value='<%=total_people%>'><%=total_people%></option>";
      document.getElementById('results_length').style.display = "none";
      document.getElementById('results').style.display = "width:99%;height: 90%;";
    }catch(e) {};
  }
</script>
  
