

<%= form_tag("/user/change_password", id: "create-form", method: 'post', enctype: 'multipart/form-data') do %>

<%= password_field_tag "user[password]", params[:password],
                     {:id => 'password', :field_type => 'alpha',
                      :helpText => 'Mawu A Chinsisi Atsopano',
                      :textCase => "lower",
                      :allowFreeText => true }%>

  <%= password_field_tag "user[confirm password]", params[:confirm_password],
                     {:id => 'confirm_password', :field_type => 'alpha',
                      :helpText => 'Bwerezani Mawu A Chinsisi Atsopano',
                      :textCase => "lower",
                      :allowFreeText => true }%>

  <label for='summary'>Summary</label>
  <%= text_field_tag :summary, nil, { :tt_onLoad => "summary();__$('keyboard').style.display = 'none';",
      :optional => "true",
      :tt_pageStyleClass => "NoControls" } %>

  <input type="hidden" name="username" value="<%=params[:username]%>" />
<%end%>


<script>

function summary() {

  var password = document.getElementById('password').value;
  var confirm_password = document.getElementById('confirm_password').value;

  if(password != confirm_password){
    var display = "<div><span class='title mismatch'>Mawu a Chinsisi Antheka Kusitha:</span><span class='data'>Update will not happen</span></div>";
  }else{
    var display = "<div><span class='title match'>Mawu a Chinsisi Santheka Kusitha:</span><span class='data'></span></div>";
  }

  $('inputFrame'+tstCurrentPage).innerHTML = '<div id="summary">' + display + '</div>' ;
  $("clearButton").style.display = "none";

}

</script>

<style>
.title {
  font-size: 50px;
}

.data {
  font-size: 40px;
  color: orangered;
  padding-left: 10px;
}

.mismatch {
  color: red;
}

.match {
  color: green;
}
</style>
